.PictureSlider {
    position: absolute;
    top: 8vh;
    left: 50vw;
    width: 45vw;
    height: 80%;
    background-color: grey;
    margin: auto;
    overflow: hidden;
  }

.Picture {
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    margin: 5px;
}

.Picture img {
    width: 100%;
    height: 100%;
}

.slideleftin {
    left: -100px;
    animation: slideleftin 1s forwards;
}

.sliderightin {
    left: 100%;
    animation: sliderightin 1s forwards;
}

.sliderightout {
    left: 0;
    animation: sliderightout 1s forwards;
}

.slideleftout {
    left: 0;
    animation: slideleftout 1s forwards;
}

@keyframes slideleftin {
    0% { left: -100%; }
    100% { left: 0; }
}

@keyframes sliderightin {
    0% { left: 100%; }
    100% { left: 0; }
}

@keyframes slideleftout {
    0% { left: 0; }
    100% { left: -100%; }
}

@keyframes sliderightout {
    0% { left: 0; }
    100% { left: 100%; }
}