.App {
  overflow: hidden;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.App .Company {
  position: absolute;
  left: 11vw;
  top: 13vh;
  font-size: 5vw;
  width: 30vw;
  font-family: 'Brush Script MT', cursive;
  color: grey;
}

.App .logo {
  position: absolute;
  top: 10vh;
  left: 10vw;
  width: 6%;
  height: 10%;
}
